<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />

    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
    <title>Document</title>
  </head>
  <body>
    {% include 'common/header.html' %}
    <section>
      <form action="/register" method="post">
        <label for="userId">
          아이디
          <input id="userId" name="userId" />
        </label>

        <label for="password">
          비밀번호
          <input id="password" name="password" />
        </label>
        <div>{{message}}</div>
        <button type="submit">회원가입</button>
      </form>
    </section>
  </body>
</html>
